
<div  class="response">
  <p><%= @question %></p>
  <p>-You</p>
</div>

<div class="response answer">
  <p><strong><%= @answer %></strong></p>
  <p>-Your coach</p>
</div>

<%= link_to "ask a new question", ask_path %>
